/* =============
    Hero
============= */
#Hero{

    @include md{
        grid-template-columns: auto 80% auto;
    }
    @include xxl{
        grid-template-columns: auto 1440px auto;
    }
    
    div{
        img{
            width: 100%;
        }
    }
    section{

    }
}
